@page "/"

<h1 style="background-color:Gray;">Hello, world!</h1>

<img src="img_chania.jpg" alt="Flowers in Chania" width="460" height="345"/>

Welcome to your new app.

<h4>Deployed with Github Actions</h4>
